# **PYTHON- DATA STRUCTURE**

#1.What are data structures and why are they imporatnt?
Data structures is way of organising and storing data, which can be used effeciently.
Importance-
* Efficiency - the right data structure makes program faster and saves memory
* Resuability-They provide reusable building blocks for writing complex algorithms.

* Scalability → Good data structures help systems handle large amounts of data smoothly.

#2. Explain the difference between mutable and immutable data types with examples
Mutable data types - can be changed or modified after they have been created. Eg - Lists are mutable

Immutable data types - cannot be changed or modified.Eg- tuples are immutable

In [1]:
# example of mutable -
Groceries = ["Banana","Tea leaves", "Atta", "Rice"]
print("before :", Groceries)
Groceries[1] = "Sugar"
print("after :", Groceries)

before : ['Banana', 'Tea leaves', 'Atta', 'Rice']
after : ['Banana', 'Sugar', 'Atta', 'Rice']

In [4]:
# example of immutable-
name = "Priya"
print("before :", name)
name = name + "nka"
print("after :", name)

before : Priya
after : Priyanka

#3.What are the main differences between lists and tuples in Python?
Lists - are mutable and are denoted by square brackets []. They have more memory, and functions like, append, extent can be used.

Tuples- are immutable and denoted by () brackets. They have less memory, and functions like, count, index can be used.

#4.Describe how dictionaries store data ?
 A dictionary is an in-built function that store data in key-value pairs. Keys act like lables and values are the actual data.

In [10]:
Student_id = {
    "name " : "Priyanka Saha ",
    "age" : 26 ,
    "subject" : "data analysis"
}

print(Student_id)

{'name ': 'Priyanka Saha ', 'age': 26, 'subject': 'data analysis'}

#5.Why might you use a set instead of a list in Python ?
List - List allows duplicates, maintains insertion order. It is slower and used when orders and duplicates matter.

Sets - sets don not allow duplicates, it is unorderd and faster.Used when uniqueness matters.

#6. What is a string in Python, and how is it different from a list?
String - is a sequence of characters enclosed in single quotes ' ' , or double quotes " ".  

* Strings are immutable, while lists are mutable
* Lists can store string itself.
* while strings are stored within quotes, lists are stored within []
  
#7. How do tuples ensure data integrity in Python ?
Data integrity- means, keeping data safe, consistent and unchanged.
And tuples are immutabe (cannot be changed), hence they ensure data integrity.

#8.  What is a hash table, and how does it relate to dictionaries in Python?
Hash table - is a data structure that stores data in key-value pairs, and allows fast access.

* It uses a hash function to convert each key into a number called hash value
* the hash values decides the slot, where the value will be stored in memory.
* student = {"name": "Priyanka", "age": 26, "course": "Python"}

print(student["age"])
* Age is converted to a hash value
* python jumps to that memroy slot and retrives 26

#9. Can lists contain different data types in Python?
 Yes. In python, lists can contain different data types within the same list.

In [11]:
# Example -
my_list = [26, "Priyanka", True, 3 + 5j]
print(my_list)

[26, 'Priyanka', True, (3+5j)]

#10.Explain why strings are immutable in Python?
Immutable means , once a string is created it cannot be changed. Any kind of modification creates a new string
Python internally resues string. If strings were mutable, changing one can unintentionally affect other variables

In [13]:
a = "Hello Priyanka"
a = a + "Saha"
print(a)
# "Hello Priyanka", is untouched, python created "Hello Priyanka Saha" as new object

Hello PriyankaSaha

#11.  What advantages do dictionaries offer over lists for certain tasks?
Dictionary uses hash value, that can be searched very fast using key.
Whereas list requires scanning element by element.
* List search (slow)
students = ["Priya", "Arjun", "Meena"]
print("Meena" in students)  # O(n)

* Dictionary search (fast)
student = {"name": "Priya", "age": 21}
print("name" in student)    # O(1)

#12.Describe a scenario where using a tuple would be preferable over a list?
Tuples are preffered over list in scenarios where we use data that should be unchanged. For example- in storing geograqphical locations, marks of students, fixed records, as these data sets should remain unchnaged
* Example 1: storing geographical coordinates (latitude, longitude).

location = (28.6139, 77.2090)  # Delhi coordinates
* student_grades = {
    ("Priya", "Math"): 95,
    ("Arjun", "Science"): 88
}
print(student_grades[("Priya", "Math")])  # 95

#13.  How do sets handle duplicate values in Python?
Set is an unordered collection of unique elements. This means duplictates are automatically removed.

When we try to add a duplicate elemen, Python checks its hash value.
If the hash value already exists, python ignores the duplicate and each value appears only once

In [14]:
# Example
a = {1,2,3,3,4,4,4,5}
print(a)

{1, 2, 3, 4, 5}

#14.How does the “in” keyword work differently for lists and dictionaries?
"in" with lists- checks if the value exists in the list. It finds the match.
 Example -
 fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)   # True
print("orange" in fruits)   # False

"in" with dictionaries - checks if key exists in dictionary (not the value)
 Exampe-
student = {"name": "Priya", "age": 21, "course": "Python"}

print("name" in student)    # True  (checks keys)
print("Priya" in student)   # False (values not checked)

#15.Can you modify the elements of a tuple? Explain why or why not?
No, tuples are immutable in python. Their contents cannot be changed or modified
Reason- protects fixed collections of data (eg- coordinates, dates)
can be used as dictionary keys or set elemnts

#16. What is a nested dictionary, and give an example of its use case?
A nested dictionary is a dictionary an other dictionary. It is used to represent hierarchial/ structured data. The outer dictionaries stores keys that map to inner dictionaries.
  Example -

In [16]:
# Student data record
students = {
    "101": {"name": "Priya", "age": 21, "course": "Python"},
    "102": {"name": "Arjun", "age": 22, "course": "Java"},
    "103": {"name": "Meena", "age": 20, "course": "Data Science"}
}

print(students["101"]["name"])   # Priya
print(students["103"]["course"]) # Data Science

Priya
Data Science

#17.Describe the time complexity of accessing elements in a dictionary?
Dictionaries in python are built on hash values.Python computes the hash of the key. It uses the hash to jump directly to the slot memory.

* Time Complexity
Average Case(O(1))- Lookups are constant time beacuse hashing lets python jump straight to the value

Word Case(O(n))- rare, happens only if many keys collide(all hash to same slot).

#18.In what situations are lists preferred over dictionaries ?
Situations where -

* We need ordered data as list maintains order
* Duplicates are required, as dictionary does not store duplicates
* Only values matter, keys are unnecessary
* Memory efficiency is imporant
 Example -
 fruits = ["apple", "banana", "cherry"]
print(fruits[0])   # apple

marks = [90, 85, 90, 75]  # duplicates allowed

#19.Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries are considered unordered collections because they use a hash table. Keys are placed in memeory based on the hash value, not in the order that we add them.
Example-
a = {"a": 1, "b": 2, "c": 3}
print(d)   # Order could vary depending on Python version

#20.Explain the difference between a list and a dictionary in terms of data retrieval.
Lists are ordered collections accessed by index.To find an element by value, python has to element by element.
Access by index : o(1)
Search by value : 0(n)
 Example -
fruits = ["apple", "banana", "cherry"]

* Access by index → fast
print(fruits[1])   # banana

* Search by value → slower
print("cherry" in fruits)  # O(n), True

Dictionaries-store data as key-value pairs. Retrieval is done using keys via hash table
Example-

student = {"name": "Priya", "age": 26, "course": "Python"}

* Access by key → very fast
print(student["age"])   # 21

* Search by value → slower
print(21 in student.values())  # O(n), True

# **PRACTICAL QUESTIONS**

#1.Write a code to create a string with your name and print it

In [17]:
Name = "Priyanka Saha"
print(Name)

Priyanka Saha

#2.Write a code to find the length of the string "Hello World"

In [18]:
a = "Hello World"
print(len(a))

11

#3.Write a code to slice the first 3 characters from the string "Python Programming"

In [23]:
n = "Python Programming"
first_three = n[:3]
print(first_three)

Pyt

#4.Write a code to convert the string "hello" to uppercase

In [24]:
a = "hello"
upper_case = a.upper()
print(upper_case)

HELLO

#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [25]:
a = "I like apple"
replace = a.replace("apple", "orange")
print(replace)

I like orange

#6.Write a code to create a list with numbers 1 to 5 and print it

In [26]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [28]:
a = [1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [29]:
a = [1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [31]:
lst = ['a','b','c','d']
lst[1]

'b'

#10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [32]:
a = [10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [33]:
a = (100,200,300) #tuples are always denoted by parentheses
print(a)

(100, 200, 300)

#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [35]:
tup1 = ('red','green','blue','yellow')
print(tup1[-2])

blue

#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [40]:
tup = (10,20,5,15)
print("Minimum :", min(tup))

Minimum : 5

#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [44]:
animals =('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [47]:
fruits = ('banana','kiwi','mango')
if 'kiwi' in fruits:
  print("kiwi is present")
else:
  print("kiwi is not present")

kiwi is present

#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [48]:
my_set = {'a','b','c'}
print(my_set)

{'c', 'a', 'b'}

#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [50]:
set1 = {1,2,3,4,5}
set1.clear()
print(set1)

set()

#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [51]:
my_set ={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [56]:
my_set1 = {1,2,3}
my_set2 = {3,4,5}
print(my_set1.union(my_set2))

{1, 2, 3, 4, 5}

#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [57]:
myset1 = {1,2,3}
myset2 ={2,3,4}
print(myset1.intersection(myset2))

{2, 3}

#21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [60]:
student_details = {
    "name" :  "Priyanka Saha",
    "age" : 26,
    "city" : "Mumbai"

}
print(student_details)

{'name': 'Priyanka Saha', 'age': 26, 'city': 'Mumbai'}

#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [63]:
my_dict = {
    'name' : 'john',
    'age' : 25,
}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [65]:
my_dictionary = {
    'name' : 'Alice',
    'age' : 30
}
print(my_dictionary['name'])

Alice

#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [66]:
mydict = {
    'name': 'Bob',
    'age': 22,
    'city': 'New York'
}
print(mydict['age'])

22

#25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [68]:
dict1 = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict1:
  print('city is present')
else:
  print('city is not present')

city is present

#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [70]:
lst1 = ["priyanka","True", 25,4 + 6j]
tup1 = (25, 62, 51, 32)
dict1 = {'name': 'Priyanka', 'age': 26, 'city': 'mumbai'}

print(lst1)
print(tup1)
print(dict1)

['priyanka', 'True', 25, (4+6j)]
(25, 62, 51, 32)
{'name': 'Priyanka', 'age': 26, 'city': 'mumbai'}

#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [71]:
lst = [1,7,3,60,20,4]
lst.sort()
print("Assending order :", lst)

Assending order : [1, 3, 4, 7, 20, 60]

# 28. Write a code to create a list with strings and print the element at the third index.

In [72]:
list1 = ["Priyanka", "banana", "apple", "max"]
print(list1[3])

max

#29. Write a code to combine two dictionaries into one and print the result.

In [79]:
dict1 = {'name': 'priyanka', 'age': 25, 'city': 'mumbai'}
dict2 ={'course': 'data analytics', 'course': 'python'}
Combined_dict = {**dict1, **dict2}
print("Combined dict :", Combined_dict)

Combined dict : {'name': 'priyanka', 'age': 25, 'city': 'mumbai', 'course': 'python'}

#30.  Write a code to convert a list of strings into a set.

In [80]:
Fruits = ['apple','kiwi', 'pears','banana']
Fruit_set = set(Fruits)
print("Set :", Fruit_set)

Set : {'pears', 'kiwi', 'banana', 'apple'}